.header {
    color:blanchedalmond;
    background:brown;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
}
.footer {
    color:#333;
    font-size: 15px;
    font-style: italic;
    background-color: #333;
    text-align: right;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.step {
    width: 200px;
    height: 100px;
    border: 1px solid;
    position: absolute;
    top: 300px;
    left: 30px;
    background-color: rosybrown;
    text-align: center;
    line-height: 90px;
}